# --- Database & Secrets (ห้ามเอาขึ้นเด็ดขาด) ---
*.db
*.sqlite
*.sqlite3
.env

# --- Python / Backend ---
venv/
__pycache__/
*.pyc

# --- Flutter / Frontend ---
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies